<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Hello, <ion-label>{{lblUsername}}</ion-label></h1>
    </ion-title>    
    <!-- <ion-button color="primary" slot="end" size="small" slot="end" [routerLink] = "['/profile']">
      Setting</ion-button> -->

      <a slot="end" href = "/profile"><ion-icon size="large" name="settings"></ion-icon></a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button color="primary"expand="block" [routerLink] = "['/message']">
      Message<ion-badge color="danger">15</ion-badge></ion-button>
  </div>

</ion-content>
