<ion-header>
  <ion-toolbar color = "secondary">
    <ion-title text-center >
       <ion-label style="font-size: 20pt;"> Hello, {{lblUsername}}</ion-label>
    </ion-title>    
    <!-- <ion-button color="primary" slot="end" size="small" slot="end" [routerLink] = "['/profile']">
      Setting</ion-button> -->

      <a slot="end" href = "/profile"><ion-icon size="large" name="settings" ></ion-icon></a>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card  class="ion-justify-content-center" >
    <!--
    <ion-item class = "word">
        <h3  class="ion-text-center">Current Time     {{time|date: 'HH:mm'}}</h3>
    </ion-item> 
    -->
    <img src='./assets/sleepscore.jpg' height="335">
  </ion-card>


  <div class="ion-padding">
    <ion-button color="primary" expand="block" [routerLink] = "['/message']">
      <label>Message</label> &nbsp;&nbsp;&nbsp;&nbsp; <ion-badge color="danger" >3</ion-badge></ion-button>
  </div>
  <div class="ion-padding">
    <ion-button color="primary"expand="block" [routerLink] = "['/start-sleeping']">
      Start Sleeping &nbsp;&nbsp;&nbsp;&nbsp; </ion-button>
  </div>

</ion-content>
