<ion-header>
  <ion-toolbar>
    <ion-title>Personal Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full" class="ion-no-margin ion-no-padding" *ngIf="!hasAcc">
    <ion-item>
      <ion-label>First Name: {{fName}}</ion-label>
      <ion-label></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Last Name: {{lName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Day Of Birth: {{DOB | date:'MM/dd/yyyy'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{email}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="logOut()">Log Out
    </ion-button>
  </div>
</ion-footer>