<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-center">
        BetterSleep &reg;
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="sleep-track">
        <ion-icon name="bed"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="sleep-log">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Sleep Log</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="sleep-data">
        <ion-icon name="stats"></ion-icon>
        <ion-label>Sleep Data</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>