<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-center">
        BetterSleep &reg;
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="ion-text-center">
    <p>Personal Information</p>
  </div>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label>First Name: </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name: </ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date Of Birth</ion-label>
      <ion-datetime value="1950-01-01" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input required type="email"></ion-input>
    </ion-item>
  </ion-list>
 

</ion-content>
<ion-footer>
    <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin" href="/main" (click)="presentAlertConfirm()">Submit</ion-button>
      </div>
</ion-footer>