ion-card{  
    //background-color: rgb(216, 209, 209);
    background-color: #192d4b;
}

h2{
    font-size: 10pt;
}

ion-card-header{
    font-size: 18pt;
    color: white;
}

ion-slides{
    --bullet-background-active: rgb(47, 136, 219);
    --bullet-background: rgb(97, 89, 89);   
}