<ion-header>
  <ion-toolbar>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" >
    <ion-slides pager>
        <ion-slide>
          <ion-card>
            <!-- <img src='./assets/icon/sleep-log.jpg'> -->
            <ion-card-header>Patient Name</ion-card-header>
            <ion-card-content>              
                <img src='./assets/icon/sleepdata.JPG'>
                <ion-item><h1>Data</h1></ion-item>
                <ion-item *ngFor = "let item of overnightSleepData" overnightSleepData = "[(overnightSleepData)]">
                  <ion-label>
                    <h2>{{item.summaryString()}}</h2>
                    <p class="ion-text-wrap">
                      <ion-icon name="time" slot="start"></ion-icon>
                      {{item.dateString()}}
                    </p>
                  </ion-label>
                  <ion-icon name="close-circle" color="primary" (click)="deleteOvernightSleepData(item)"></ion-icon>
                </ion-item>                         
             </ion-card-content>
            </ion-card>            
        </ion-slide>
        <ion-slide>
            <ion-card>
              <ion-card-header >Sleepiness data</ion-card-header> 
              <ion-card-content>
                <img src='./assets/icon/sleepdata.JPG'>
                <ion-item><h1>Data</h1></ion-item>
                <ion-list>                  
                  <ion-item-sliding>
                    <ion-item *ngFor = "let item of sleepinessData">
                      <ion-avatar *ngIf="item.loggedValue == 1 || item.loggedValue == 2">
                        <img src='./assets/icon/circle-green.png'>
                      </ion-avatar>
                      <ion-avatar *ngIf="item.loggedValue == 3 || item.loggedValue == 4 || item.loggedValue == 5">
                        <img src='./assets/icon/circle-orange.png' width="10" height="10">
                      </ion-avatar>
                      <ion-avatar *ngIf="item.loggedValue == 6 || item.loggedValue == 7">
                          <img src='./assets/icon/circle-red.png'>
                      </ion-avatar>
                      <ion-label>
                        <h2 class="ion-text-wrap" *ngIf="item.loggedValue == 1 || item.loggedValue == 2">
                          Active, functioning at high level</h2>
                        <h2 class="ion-text-wrap" *ngIf="item.loggedValue == 3 || item.loggedValue == 4 || item.loggedValue == 5">
                          Awake, or somewhat foggy</h2>
                        <h2 class="ion-text-wrap" *ngIf="item.loggedValue == 6 || item.loggedValue == 7">
                          Sleepy, or no longer fighting sleep</h2>
                        <p>
                          <ion-icon name="pin" slot="start"></ion-icon>
                          {{item.loggedLocation}}                          
                        </p>                        
                        <p class="ion-text-wrap">
                            <ion-icon name="time" slot="start"></ion-icon>
                            {{item.hourString()}}
                          </p>                      
                      </ion-label>
                      <ion-icon name="close-circle" color="primary" (click)="deleteSleepLogData(item)"></ion-icon>                      
                    </ion-item>   
                  </ion-item-sliding>
                </ion-list>                                   
              </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>
