ion-content{  
    --background: rgb(216, 209, 209);
}

h2{
    font-size: 10pt;
}

ion-card-header{
    font-size: 18pt;
}

ion-slides{
    --bullet-background-active: rgb(47, 136, 219);
    --bullet-background: rgb(97, 89, 89);   
}