<ion-header>
  <ion-toolbar color = "secondary">>
    <ion-title >        
        <ion-title>Track Overnight sleep</ion-title>                
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item> Manually input you sleeping time.</ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime display-format="MMM D, h:mm A" picker-format="MMM D h:mm A" value="MMM D 04:00Z"
        [(ngModel)]="startTime" placeholder="Select Time" minuteValues="0,10,20,30,40,50"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime display-format="MMM D, h:mm A" picker-format="MMM D h:mm A" value="MMM D 15:00Z"
        [(ngModel)]="endTime" placeholder="Select Time" min="{{startTime}}" minuteValues="0,10,20,30,40,50"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Mood: </ion-label>
      <ion-select [ngStyle]= "{ textColor: red, backgroundColor: red}"  placeholder="Select one">
        <ion-select-option  value="happy">
          <ion-icon name="happy">Happy</ion-icon>
        </ion-select-option>
        <ion-select-option value="sad">
          <ion-icon name="sad">Sad</ion-icon>
          
        </ion-select-option>
  
      <ion-select-option value="sad">
        <ion-icon name="sad">Not bad</ion-icon>
      </ion-select-option>
    </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="block" type="submit" class="ion-no-margin" (click)="validate()">Submit</ion-button>
</ion-footer>