<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Connect a Device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>      
      <ion-card-title >New Device</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Enable Bluetooth connection to connect new device.

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>      
      <ion-card-title >Connected Device</ion-card-title>
    </ion-card-header>
    <ion-card-content>      
        <ion-item>
          <ion-label>Apple Watch</ion-label>
          <a ><ion-icon color="success" slot="end" size="large" name="watch"></ion-icon></a>
        </ion-item>
        <ion-item>
          <ion-label>Smart Pillow</ion-label>
          <a ><ion-icon color="medium" slot="end" size="large" name="bed"></ion-icon></a>
        </ion-item>
        <ion-item>
          <ion-label>Smart Pajamas</ion-label>
          <a ><ion-icon color="success" slot="end" size="large" name="body"></ion-icon></a>
        </ion-item>      
    </ion-card-content>
  </ion-card>

</ion-content>
