<ion-header color = "primary">
  <ion-toolbar  color = "secondary">>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/message"></ion-back-button>
    </ion-buttons>
    <ion-title>Sleep Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      From: Dr. J
    </ion-label>
  </ion-item>
  <ion-card background="black" color="white">
    <ion-card-header>
      <ion-card-title>My advice to you</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur laboriosam iste ullam aut sit corrupti doloremque sunt dicta, excepturi in labore repellendus quo. Deserunt commodi, magni facere veniam inventore doloribus.
    </ion-card-content>
  </ion-card>
</ion-content>
